
.layoutContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.diagnostics {
    width: 100%;
    overflow-x: hidden;
    box-shadow: var(--window-drop-shadow);

    display: flex;
    flex-direction: column;
}

.diagnosticsBox {
    font-size: 1.0em;
    font-family: monospace;
    height: var(--diagnostics-height);
    width: 100%;
    background: var(--diagnostics-window-background);
    overflow-x: auto;
    overflow-y: auto;
}

.diagItem {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    height: var(--diagnostics-item-height);
}

.selected {
    background:rgb(0, 122, 204);
    color: #fff;
}

.error {
    color: rgb(218, 98, 98);
}

.error.selected {
    color: #fff;
}
