
.diagnostics {
    height: var(--diagnostics-height);
    width: 100%;
    font-size: 1.0em;
    font-family: monospace;
    overflow: hidden;
}

.diagnosticsBox {
    margin-left: var(--gutter-width);
    width: 100%;
    height: var(--diagnostics-height);
    background: var(--diagnostics-window-background);
}

.diagItem {
    cursor: pointer;
    width: 100%;
    height: var(--diagnostics-item-height);
}

.selected {
    background:rgb(0, 122, 204);
    color: #fff;
}

.error {
    color: rgb(218, 98, 98);
}

.error.selected {
    color: #fff;
}
