.heading {
   margin-bottom: var(--heading-bottom-margin);
}

.layoutContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.disasmContainer {
    width:100%;
    height:100%;
}
.disasm {
    outline: none !important;
    background: rgb(50,50,50);
    color: rgb(255,255,255);
    width:100%;
    height:100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    border-color: var(--blurred-textarea-outline);
}
