.heading {
   margin-bottom: var(--heading-bottom-margin);
}

.layoutContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.disasmContainer {
    background: var(--code-window-background);
    width:100%;
    height: var(--code-window-height);
    max-height: var(--code-window-height);
    overflow-y: auto;
    color: var(--disasm-window-text-color);
}
