
.helpModalContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  min-height: 100vh;
  z-index: 20;
}

.helpContents {
  height: 100%;

  line-height: 1.5;
  color: rgb(75, 75, 75);

  padding-bottom: 3em;
}

.headingContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.helpContents h1 {
  color: rgb(204, 11, 36);
  margin-top: 0px;
  margin-bottom: 0px;
}

.emph {
  color: var(--help-emph-color);
}

.helpContents a {
  color: var(--help-emph-color);
}

.hidden {
  display: none;
  background: rgba(0,0,0,0);
}

.circleReveal {
  width: 100%;
  height: 100%;

  animation: circle 0.8s 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  clip-path: circle(0% at calc(100vw/2) calc(100vh/2));

  background: rgb(230, 230, 230);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes circle {
  0% { clip-path: circle(0% at calc(100vw/2) calc(100vh/2)); }
  100% { clip-path: circle(200% at calc(100vw/2) calc(100vh/2)); }
}

.maxWidth {
    margin: 1em;
}
@media screen and (min-width: 680px) {
    .maxWidth {
        margin: 0 100px 0 170px;
        max-width: 640px;
    }
}
@media screen and (min-width: 980px) {
    .maxWidth {
        margin: 0 auto;
    }
}

.closeButtonContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50px);
  z-index: 25;
}

pre.asm {
  margin: .5em 0;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 0.8em;
  border: .3em solid #d7d7d7;
  color: black;
  background: #d7d7d7;
}
