:root {
  --header-foreground-color: rgb(221, 221, 221);
/*  --window-group-background: rgb(37, 37, 38);*/
  --window-group-background: rgb(51, 51, 51);
  --body-background: var(--window-group-background);
  --heading-bottom-margin: 1em;

  --gutter-width: 25px;
  --gutter-text-color: #999;
  --gutter-text-highlight-color: #fff;

  --highlight-current-line-color: rgba(40, 84, 109, 0.185);
  --highlight-error-background-color: rgba(128, 32, 32, 0.5);

  --code-window-text-color: rgb(207, 207, 207);
  --code-window-background: rgb(30,30,30);
  --code-window-font-size: 13px;
  --code-window-font-weight: 300;
  --code-window-line-height: 16px;
  --code-window-height: calc(var(--code-window-line-height)*31);

  --disasm-window-text-color: var(--code-window-text-color);

  --diagnostics-window-background: var(--code-window-background);
  --diagnostics-height: 100px;
  --diagnostics-item-height: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: rgb(173, 173, 173);
  margin: 0px;
}

textarea, pre, code {
  -moz-tab-size : 4;
  -o-tab-size : 4;
   tab-size : 4;

   line-height: var(--code-window-line-height);
}

pre {
  margin: 0px;
  padding: 0px;
}

#root {
  display: grid;
  grid-template-areas:
    "nav header header    pad"
    "nav code disasm      pad"
    "nav diag diag        pad"
    "nav footer footer    pad";
  grid-template-rows: 60px 1fr 0.3fr 60px;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }
header, footer, div#mainCode, header#pageHeader, nav, div#siteDisasm, #mainDiag, div#mainPad {
  padding: 0.2em;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainCode {
  grid-area: code;
  background: var(--window-group-background);
  }
#mainNav {
  grid-area: nav;
  }
#mainPad {
  grid-area: pad;
}

#siteDisasm {
  grid-area: disasm;
  background: var(--window-group-background);
}
#mainDiag {
  grid-area: diag;
  background: var(--window-group-background);
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "code"
      "disasm"
      "diag"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
}

pre, code, textarea {
  font-family: Monaco, Consolas, 'Courier New', monospace;
/*  font-family: monospace;*/
  font-size: var(--code-window-font-size);
  font-weight: var(--code-window-font-weight);
  padding: 0px;
}
