
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  align-items: flex-start;

  margin-right: 16px;
}

.heading {
  margin-bottom: var(--heading-bottom-margin);
  padding-left: 3px;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
}

.gistContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 15px;

  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

.gistInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tab {
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  background: var(--tab-background-color);
  color: var(--tab-text-color);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 3px;

  border-bottom: 1.5px solid rgba(0,0,0,0.08);
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;

  font-size: 14px;
}

.tab.active, .tab.active:hover {
  background: var(--tab-background-active-color);
  color: var(--tab-text-active-color);
}

.tab:hover {
  background: var(--tab-background-hover-color);
  color: var(--tab-text-hover-color);
}


/*----------------------------------------------------------------------*/
/* button styles */
.gist {
  width: 100%;
  margin-bottom: 3px;
}

.gist button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */

  background: var(--tab-background-color);
  color: var(--tab-text-color);
  border: 0;
  border-radius: 0px;
  outline: none;
}

.gist button:hover {
  background: var(--tab-background-active-color);
  color: var(--tab-text-active-color);
}

.gist button:active {
  background: var(--tab-background-color);
  color: var(--tab-text-color);
}

.gistLoadButtonContainer {
  width: 100%;
}
.gistResetButtonContainer {
  width: 100%;
}
.gistLoadButtonContainer button {
  width: 100%;
}

.gistResetButtonContainer button {
  width: 100%;
}

.gistContainer {
}

.gistContainer .loadingText {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
}

/*----------------------------------------------------------------------*/
/* input styles */
.gistContainer input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  width: 100%;
  background: var(--tab-background-color);
  color: var(--tab-text-color);
  border: 0;
  border-radius: 0px;
  outline: none;
}
