
.container {
  display: flex;
  flex-direction: row;
}

.tab {
  cursor: pointer;
  font-size: 0.9em;
  padding: 3px;
  user-select: none;
  background: var(--tab-background-color);
  color: var(--tab-text-color);
  margin: 3px;
  box-shadow: var(--tab-drop-shadow);
}

.tab.active {
  background: var(--tab-background-active-color);
  color: var(--tab-text-active-color);
}
